# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Rust\hello_rust\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
